name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 3 * * *"

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: make build
      run: make build
    - name: make check
      run: make check
    - name: make test-verify
      run: make test-verify
    - name: make examples
      run: make examples

  check-origin:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: head
      - uses: actions/checkout@v4
        with:
          path: main
          ref: main
      - name: cp main/bin/mirth0.c head/bin/origin-mirth0.c
        run: cp main/bin/mirth0.c head/bin/origin-mirth0.c
      - name: make -C head run-check-origin
        run: make -C head run-check-origin
      - name: make -C head check-origin-diff
        run: make -C head check-origin-diff

  build-san:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: make buildsan
      run: make buildsan
    - name: make checksan
      run: make checksan

  build-bat:
    strategy:
      matrix:
        arch: [amd64,x86]
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - name: tools\cibuild.bat ${{ matrix.arch }}
      run: tools\cibuild.bat ${{ matrix.arch }}
    - name: make check
      run: make check
