name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 3 * * *"

jobs:
  build:
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: make build
      run: make build
    - name: make check
      run: make check
    - name: make bin/snake.c
      run: make bin/snake.c
    - name: make test-verify
      run: make test-verify

  build-bat:
    strategy:
      matrix:
        arch: [amd64,x86]
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - name: .\cibuild.bat ${{ matrix.arch }}
      run: .\cibuild.bat ${{ matrix.arch }}
    - name: make check
      run: make check
