name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 3 * * *"

jobs:
  build:
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: make build
      run: make build
    - name: make check
      run: make check

  build-bat:
    strategy:
      matrix:
        arch: [amd64,x86]
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - name: cibuild.bat ${{ matrix.arch }}
      run: cibuild.bat ${{ matrix.arch }}
    - name: make check
      run: make check
